/* navbar */

#top_nav{
    background-color: #4b3c06;
    padding: 0.3% 8%;
}

.nav-link {
    margin-left: 25px;
    font-size: 20px;
    font-weight: var(--bs-nav-link-font-weight);
    color: rgb(255, 255, 255);
}

#searchbox{
    background-color: #7a6728;;
    color: white;
    border: 0px;
    border-radius: 0;
    position: relative;
    left: 10px;
    box-shadow: 5px 10px 11px 0px #00000021;
}
#searchbox::placeholder{
color: white;
}



#searchbutton{
    position: relative;
    z-index: 99;
    color: rgb(255, 255, 255);
    background-color: rgba(32, 31, 31, 0.9);
    border: 0;
    border-radius: 0;
}
#searchbutton:hover{
color: rgb(215, 209, 209);
}

@media only screen and (max-width:990px){
#searchform{
    margin-bottom: 30px;
    margin-top: 20px;
    position: relative;
    left: 15px;
}
}

#banner{
    background-color: #7a6728;
    padding-bottom: 20px;
    padding-top: 100px;
}

#banner h1{
    color: white;
    font-size: 70px;
    margin-top: 20px;

}

#banner p{
    color: white;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    
}

#bannerbtn1{
    background-color: rgba(32, 31, 31, 0.9);
border: 2px solid rgba(255, 255, 255, 0.9);
color: white;
}
#bannerbtn1:hover{
    background-color: #4b3c06;
}

#bannerbtn2{
    color: white;
    border: 2px solid white;
    background-color: rgba(32, 31, 31, 0.9);
    margin-left: 15px;
}

#bannerbtn2:hover{
    background-color: #4b3c06;
}

@media only screen and (max-width: 900px){
    #banner h1{
        font-size: 50px;
    }
    #banner{
        padding-bottom: 50px;
    }

    #bannerimg{
        padding-top: 20px;
        width: 200px;
    }
}

@media only screen and (max-width: 760px){
    #bannerimg{
        padding-top: 20px;
        width: 100px;
    }
}

/* service */

#servicetext{
padding-top: 6%;
padding-bottom: 5%;
color: #6e5602;
}

#servicebtn{
    color: white;
    background-color: #4b3c06;
    border: 2px solid #332904;
}

#serviceimg{
    padding: 4%;
}

@media only screen and (max-width: 1087px){
    #serviceimg{
        padding-top: 10%;
    }
}

/* counter section */

#countersection{
    background-image:
    linear-gradient(
      rgba(75, 60, 7, 0.849),
      rgba(66, 54, 0, 0.75)), url(
'../images/play.jpg');
background-repeat: no-repeat;
background-size: cover;
padding-top: 70px;
    padding-bottom: 70px;
    background-position: center;

}

.countericon{
    font-size: 70px;
}

@media only screen and (max-width:500px){
    .countericon{
        font-size: 50px;
    }
}

/* blog */

#blog{
    padding-bottom: 70px;
    padding-top: 70px;
}

#blogtitle{
    font-size: 50px;
    font-weight: bolder;
    color: #685306;
}

#blogp{
    font-size: 20px;
    margin-bottom: 70px;
    color: #6e5602;
}

.articledetail{
    padding: 15px;
    border: 1px solid rgb(203, 201, 201);
    border-top: 0;
    color: #6a5603;
}

.articlelink, .articledate{
    color: #443702;
    
}

/* footer */

#footer{
    background-color: #171300;
    padding-top: 80px;
    padding-bottom: 80px;
}

#footer a{
    color: white;
    text-decoration: none;
}

#footerform{
margin:10px 0;
}

#footersearchbox{
    background-color: #7a6728;
    
    color: white;
    border: 0;
    padding: 10px;
    width: 80%;
    max-width: 250px;
    position: relative;
    left: 10px;
}

#footersearchsubmit{
color: white;
border: 0;
border-radius: 0;
padding: 10px 30px;
background-color:#4b3c06;;

}

.socialicon{
    font-size: 25px;
    padding-left: 5px;
}

@media only screen and (max-width: 1065px) {
    #footersearchbox{
        max-width: 200px;
    }
}

@media only screen and (max-width: 908px) {
    #footersearchbox{
        max-width: 120px;
    }
}

@media only screen and (max-width: 760px) {
    #footersearchbox{
        max-width: 200px;
    }
    #footer{
        padding-top: 10px;
    }
    #footer h4{
        padding-top: 50px;
    }
}